:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    /* Espaço para a navbar fixa */
}

/* Remove o padding-top da página inicial */
body.index-page {
    padding-top: 0;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.navbar .nav-item.d-flex {
    align-items: center;
}

.navbar .nav-item.d-flex .nav-link {
    padding: 0.5rem 1rem;
    margin: 0;
    font-weight: 500;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    transition: all .3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgb(255, 0, 0);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.bg-hero {
    background: linear-gradient(45deg, var(--primary-color), var(--success-color));
}

.bg-hero-2 {
    background: linear-gradient(45deg, var(--danger-color), var(--light-color));
}

